<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="images/favicon.png"/>
        <title>Snappy</title>

        <link href="css/scrolling-nav.css" rel="stylesheet" media="all">
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/custom.js" type="text/javascript"></script>
    </head>
    <body id="myPage">
        <div class="section-page-wrap">
            <div class="share">
                <div class="icon first facebook"><i class="fa fa-facebook"></i></div>
                <div class="icon twitter"><i class="fa fa-twitter"></i></div>
                <div class="icon google-plus"><i class="fa fa-google-plus"></i></div>
                <div class="icon pinterest last"><i class="fa fa-pinterest-p"></i></div>
                <div class="label">Share</div>
            </div>
            <header class="top-nav-bar">
                <div id="toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>

                <div id="menu">
                    <ul class="menu-view list-unstyled">
                        <li><a href="home"><img src="images/icons/home.png" onmouseover="this.src = 'images/icons/home-hover.png'" onmouseout="this.src = 'images/icons/home.png'"></a></li>
                        <li class="active"><a><img src="images/icons/about-hover.png"></a></li>
                        <li><a href="portfolio"><img src="images/icons/portfolio.png" onmouseover="this.src = 'images/icons/portfolio-hover.png'" onmouseout="this.src = 'images/icons/portfolio.png'"></a></li>
                        <li><a href="contact"><img src="images/icons/contact.png" onmouseover="this.src = 'images/icons/contact-hover.png'" onmouseout="this.src = 'images/icons/contact.png'"></a></li>
                    </ul>
                </div>

            </header>
            <div class="banner-full-image">
                <div class="banner-title">
                    <h1>Welcome to my personal page</h1>
                    <a class="btn btn-primary" href="portfolio">read me</a>
                </div>
            </div>

            <!-------------About----------->
            <section id="about" class="section-padding">
                <div class="container">
                    <div class="text-head">
                        <h2>个人简介</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
                            <p class="desc-text">倪怡华，居住苏州，2016年毕业于江苏大学，电子信息工程专业,主修电路原理、微机原理、嵌入式、信息论与编码等课程。</p>
                            <p class="desc-text offspace-20">2016年10月至2018年3月在中国银行苏州分行贸易金融部门从事文职助理，负责票据业务数据统计及分析工作。</p>
                            <p class="desc-text offspace-20">2018年4月至2018年9月在中梁地产苏沪区域集团担任融资助理，主要协调下级区域公司与上级控股集团的融资信息交换，并做一些贷后管理工作</p>
                            <p class="desc-text offspace-20">2018年11月至2019年3月在江苏风云科技接受JAVA职业培训。</p>
                            <h5 class="user-title">与其感慨路难行，不如马上出发————Clinkz</h5>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 add-space-mobileview">
                            <div class="image">
                                <img alt="user-image" class="img-responsive" src="images/user-image.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="about-review" class="section-padding">
                <div class="container">
                    <div class="text-head">
                        <h2>专业技能</h2>
                    </div>
                    <div class="about-review">
                        <h2 class="title-default"></h2>
                        <div class="list-about-review">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="item-about-review">
                                        <div class="about-review-thumb">
                                            <a href="#"><img alt="" src="images/java.jpg"></a>
                                        </div>
                                        <div class="about-info">
                                            <h3 class="title14"><a class="black" href="#">JavaSE&数据库</a></h3>
                                            <p class="desc">熟练掌握Java语言基础，具有良好的编程习惯及代码规范。掌握MySql数据库，熟练编写SQL语句。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="item-about-review">
                                        <div class="about-review-thumb">
                                            <a href="#"><img alt="" src="images/html.png"></a>
                                        </div>
                                        <div class="about-info">
                                            <h3 class="title14"><a class="black" href="#">Front-end</a></h3>
                                            <p class="desc">熟悉HTML、JavaScript、CSS、Ajax，jQuery等前端技术</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="item-about-review">
                                        <div class="about-review-thumb">
                                            <a href="#"><img alt="" src="images/javaEE.png"></a>
                                        </div>
                                        <div class="about-info">
                                            <h3 class="title14"><a class="black" href="#">J2EE</a></h3>
                                            <p class="desc">熟悉Spring，SpringMVC，SpringBoot,MyBatis框架，了解Dubbo,SpringCloud,Hibernate等开源框架。熟悉Maven项目管理。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="item-about-review last-item">
                                        <div class="about-review-thumb">
                                            <a href="#"><img alt="" src="images/server.png"></a>
                                        </div>
                                        <div class="about-info">
                                            <h3 class="title14"><a class="black" href="#">Server technology</a></h3>
                                            <p class="desc">了解Tomcat容器配置和部署，能够使用linux操作系统，了解docker应用容器。掌握分布式文件系统fastDFS原理,了解Nginx服务器在反向代理进行负载均衡和图片服务器中的使用。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section id="about-experience" class="section-padding">
                <div class="container">
                    <div class="text-head">
                        <h2>项目经验</h2>
                    </div>
                    <div class="about-review">
                        <h2 class="title-default"></h2>
                        <div class="list-about-review">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="item-about-review">
                                        <div class="about-review-thumb">
                                            <a href="images/supermarket1.png"><img alt="" src="images/marketSystem.png"></a>
                                        </div>
                                        <div class="about-info">
                                            <h3 class="title14"><a class="black" href="#">1、超市账单管理系统</a></h3>
                                            <p class="desc">
                                                <b>开发环境：</b>idea+maven+jdk1.8<br>
                                                <b>软件架构:</b> springBoot+mybatis+mysql+Druid<br>
                                                <b>项目描述：</b>本系统为主要针对超市B2B账单管理、供应商信息管理、以及用户管理三个方面进行开发设计。<br>
                                                <b>责任描述：</b>主要负责用户管理模块设计和代码的实现，配置Druid的监控数据库。<br>
                                                <b>技术描述：</b><br>1、页面渲染采用thymeleaf模板引擎、使用jQuery的ajax进行异步验证。<br>
                                                2、使用Spring的HandlerInterceptor自定义拦截器实现用户登录拦截、用户操作权限拦截转发 <br>
                                                3、使用mybatis的pagehelper插件实现数据分页查询<br>
                                                4、采用Druid数据源实现对数据库访问监控<br>
                                                5、用mybatis框架来完成和数据库的交互
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="item-about-review">
                                        <div class="about-review-thumb">
                                            <a href="images/selfweb.png"><img alt="" src="images/selfweb.png"></a>
                                        </div>
                                        <div class="about-info">
                                            <h3 class="title14"><a class="black" href="#">2、个人网站</a></h3>
                                            <p class="desc"><b>开发环境：</b>idea+maven+jdk1.8+Docker<br>
                                                <b>软件架构:</b> springBoot+mybatis+mysql+Dubbo+Druid+FastDFS+Nginx<br>
                                                <b>项目描述：</b>业余时间写的个人网站。两个功能1、上传、下载和管理文件,类似网盘 2、记录笔记、类似博客<br>
                                                <b>技术描述:</b><br>
                                                1、页面渲染采用thymeleaf模板引擎、用UEditor编辑文本<br>
                                                2、使用Dubbo分布式框架对外暴露Service接口,注册中心采用Zookeeper<br>
                                                3、FastDFS文件系统来保存文件，使用Nginx对外提供HTTP访问服务<br>
                                                4、数据源使用Druid,并对数据库操作进行监控</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!---footer--->
            <footer>
                <div class="container text-center">
                    <div class="copyright">
                        <!--Do not remove Backlink from footer of the template. To remove it you can purchase the Backlink-->
                        &copy; 2017 All right reserved. Designed by <a href="#" target="_blank">ThemeVault.</a> -  More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                    </div>
                </div>
            </footer>
            <div id="back-to-top" style="display: none">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i> Top
            </div>
        </div>
    </body>
</html>
